/*
Name: Style par défaut
Author: liamgen.js
Author URI: https://liamgenjs.vercel.app
Description: Style par défaut pour l'application SNOT
Version: 1.0
*/


:root{
    --background-url: url("https://i.pinimg.com/originals/c2/cf/dc/c2cfdcd165e63214aa752c2d081d52db.jpg");
    --background-color: #111111;
}

html, body, .snot-app-bg, #login{
    background-color: var(--default-background-color-dark) !important;
    background-image: var(--background-url) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    border-left: none !important;
    border-right: none !important
}

.snot-app-div, #sposts_mHSBN1 .mainDiv_sMB1{
    background-color: #26262c80 !important;
    backdrop-filter: blur(20px) !important;
}

*{
    --default-background-color-dark: var(--background-color) !important;
    --main-bgc-color-dark: var(--background-color) !important;
}

#formLogin_lPageB1, .modal-wrapper, #navigationPanel_TOSB1{
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.form_inputLogin{
    background: rgba(255, 255, 255, 0.6) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    color: black !important;
}

#bannerLoginPage_homePass{
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #111;
}
  
::-webkit-scrollbar-thumb {
    background: #222;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #333;
}